<div class="container header">
    <h1>Lending Tools</h2>
    <ul class="unstyled pull-right">
        <li><a href="/signup">Sign up</a></li>
        <li> | </li>
        <li><a href="/login">Log in</a></li>
    </ul>
</div>
