<div class="container navigation">
    <ul class="unstyled">
        <li><a href="/account">Gains</a></li>
        <li><a href="/account/notes">Notes</a></li>
        <li><a href="/account/notes">Events</a></li>
        <li><a href="/account/notes">Trends</a></li>
        <li><a href="/account/notes">Alerts</a></li>
        <li><a href="/account/notes">Manage</a></li>
    </ul>
</div>
