<% layout('layouts/logged_in') -%>
    <div class="container content">
        <div class="graph-container">
            <h2>Account Total</h2>
            <div id="account_total_graph"><svg></svg></div>
        </div>
        <div class="graph-container">
            <h2>Interest Received</h2>
            <div id="interest_received_graph"><svg></svg></div>
        </div>
        <div class="graph-container">
            <h2>Principal Received</h2>
            <div id="principal_received_graph"><svg></svg></div>
        </div>
        <div class="graph-container">
            <h2>Net Annualized Return</h2>
            <div id="net_annualized_return_graph"><svg></svg></div>
        </div>
    </div>
    <script>
        var top_stats = <%- JSON.stringify(data) %>;
    </script>
    <% script('/javascripts/top_stats.js') -%>
