<% layout('layout') -%>
    <div class="background-stripes">
        <div class="dark-stripe">
        </div>
    </div>
    <div class="container">
        <h1><%= title %></h2>
        <div class="graph-container">
            <h2>Account Total</h2>
            <div id="account_total_graph"><svg></svg></div>
        </div>
        <div class="graph-container">
            <h2>Interest Received</h2>
            <div id="interest_received_graph"><svg></svg></div>
        </div>
        <div class="graph-container">
            <h2>Net Annualized Return</h2>
            <div id="net_annualized_return_graph"><svg></svg></div>
        </div>
    </div>
