<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="/stylesheets/libs/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/libs/nv.d3.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <h1><%= title %></h2>
        <div class="graph-container">
            <h2>Account Total</h2>
            <div id="account_total_graph"><svg></svg></div>
        </div>
        <div class="graph-container">
            <h2>Interest Received</h2>
            <div id="interest_received_graph"><svg></svg></div>
        </div>
        <div class="graph-container">
            <h2>Net Annualized Return</h2>
            <div id="net_annualized_return_graph"><svg></svg></div>
        </div>
    </div>
    <script>
        var top_stats = <%- JSON.stringify(data) %>;
    </script>
    <script src="/javascripts/libs/angular.min.js"></script>
    <script src="/javascripts/libs/jquery-2.0.0.min.js"></script>
    <script src="/javascripts/libs/d3.v2.js"></script>
    <script src="/javascripts/libs/nv.d3.js"></script>
    <script src="/javascripts/libs/bootstrap.min.js"></script>
    <script src="/javascripts/core.js"></script>
</body>
</html>
